snippet project "Minimal Latex project Setup" b

\documentclass[12pt, letterpaper]{article}
\usepackage[utf8]{inputenc}
\usepackage{graphicx}

\title{${1:title}}
\author{Patrick Haller}
\date{`date +%d.%m.%Y`}

\begin{document}

\begin{titlepage}
  \maketitle
\end{titlepage}


\end{document}
endsnippet
